:root {
  --primary-color: #ff725e;
  --primary-bg: #b0b5aa67;
  --secondary-color: #e65d51;
  --hover-color: #e65d51;
  --background-color: #fff4f4;
  --card-background: #3a2d38;
  --text-color: whitesmoke;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --font-family: "Courier New", Courier, monospace;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: 2;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--primary-bg);
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 32px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px var(--shadow-color);
  width: 90%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: var(--primary-color);
  color: rgb(245, 245, 245);
  border-radius: var(--border-radius);
}

.timer {
  font-size: 1rem;
  font-weight: bold;
}

.flaged {
  padding: 16px 32px;
  background: var(--secondary-color);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.flaged:hover {
  transform: scale(1.04);
}

.middle .nameQ {
  font-size: 1.1rem;
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  padding: 6px 12px;
  font-weight: 500;
  text-align: left;
}

.middle h2 {
  font-size: 1.1rem;
  margin-bottom: 12px;
  padding: 6px 12px;
  font-weight: 600;
  color: var(--text-color);
  text-align: left;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.choices label {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1rem;
  font-weight: 500;
  background: transparent;
  color: var(--text-color);
  border: 2px solid var(--background-color);
  border-radius: var(--border-radius);
  padding: 8px 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.choices label:hover {
  background-color:var(--background-color);
  color: rgba(0, 0, 0, 0.934);
}

.choices label input[type="radio"] {
  transform: scale(1.4);
  accent-color: var(--secondary-color);
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 4px solid var(--hover-color); 
  border-radius: 50%; 
  outline: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.lower {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.lower .btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lower button {
  font-family: var(--font-family);
  padding: 16px 32px;
  font-size: 1rem;
  font-weight: 550;
  color: var(--text-color);
  background: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  transition: background 0.3s ease, transform 0.2s ease;
}

.lower button:hover {
  transform: translateY(-2px);
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.lower button:active {
  transform: translateY(1px);
}

.lower .submit {
  background-color: transparent;
  border: var(--text-color) 1.6px solid;
}

.flagged {
  background: var(--primary-color);
  padding: 24px;
  border-radius: var(--border-radius);
  overflow-y: auto;
}

.flagged h2 {
  font-size: 1.2rem;
color: var(--text-color);
}

.questionsW {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.questionsW button {
  padding: 12px 24px;
  font-size: 1rem;
  color: var(--text-color);
  background: var(--card-background);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.questionsW button:hover {
  background: var(--background-color);
  color: var(--card-background);
}

.head{
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  border-bottom: 2px solid var(--hover-color) ;
  font-size: 1rem;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .flagged {
    max-height: none;
  }
}
